{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Euan Judd - Machine Learning SaaS Portfolio</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"> -->
    <!-- Add other head elements or links to CSS files -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'primary-bg': '#06AB78',            // Green
                        'primary-hover-bg': '#06AB78F2',
                        'primary-text': '#FFFFFF',          // White
                        'base-content': '#30313D',          // Almost Black
                        'base-content-secondary': '#5C5B61',// Dark Gray, e.g. for paragraph text
                        'base-bg': '#F8F9FD',               // Almost white
                        'highlight-bg': '#FFFFFF',          // Brownish black
                        'highlight-hover-bg': '#FFFFFF',    // Dark gray
                        'highlight-text': '#000000',        // Black
                        'policy-text': '#919795',           // Lighter gray
                        'border-color-default': '#FFFFFF',  // Almost Black
                    },

                    // colors: {
                    //     'primary-bg': '#ff6600',            // Orange
                    //     'primary-hover-bg': '#FF4500',      // Red orange
                    //     'primary-text': '#000000',          // Black
                    //     'base-content': '#cfcfcf',          // Light gray
                    //     'base-content-secondary': '#cfcfcfB3',// Light gray
                    //     'base-bg': '#212121FF',             // Almost black
                    //     'highlight-bg': '#0f0f0f',          // Black
                    //     'highlight-hover-bg': '#0f0f0f',    // Dark gray
                    //     'highlight-text': '#cfcfcf',        // Light gray
                    //     'border-color-default': '#0f0f0f',  // Almost black
                    // },
                    fontSize: {
                        'base': '16px',
                    },
                    fontWeight: {
                        'normal': '400',
                        'black': '900',
                    },
                    letterSpacing: {
                        'tight': '-0.4px',
                    },
                    lineHeight: {
                        'tight': '1',
                        'normal': '1.625',
                    },
                }
            }
        }
    </script>
        <style>
            .vertical-text {
                writing-mode: vertical-rl;
                transform: rotate(180deg);
            }
            .fixed-bottom {
                position: fixed;
                bottom: 86px;
                right: 0;
            }
            .fixed-bottom-line {
                position: fixed;
                bottom: 22px;
                right: 3px;
            }
            .vertical-line {
                width: 1px;
                height: 50px; 
                background-color: black; 
            }
        </style>
</head>

<body class="bg-heighlight-bg text-base-content font-normal text-base leading-normal p-5 font-sans">

    <div class="bg-base-bg p-6">

        <header class="container mx-auto text-base-content py-2 max-w-7xl mx-auto sticky top-0">
            <div class="flex justify-between items-center">
                <div class="flex items-center">
                    <a href="{% url 'home' %}" class="">
                        <img src="{% static 'images/icon.png' %}" alt="Home" class="h-14">
                    </a>
                    <nav class="relative">
                        <button id="dropdownButton" aria-haspopup="true" aria-expanded="false" class="menu-text ml-8 hover:tracking-widest text-xs font-bold">
                            MENU
                        </button>
                        <div id="dropdownMenu" class="hidden absolute z-10 w-44 bg-base-bg mt-2 py-2 rounded shadow-lg">
                            <a href="{% url 'home' %}" class="block px-4 py-2 text-sm text-base-content hover:bg-gray-100">Home</a>
                            <a href="https://www.linkedin.com/in/euan-judd-749b04116/" target="_blank" rel="noopener noreferrer" class="block px-4 py-2 text-sm text-base-content hover:bg-gray-100">Linkedin</a>
                            <a href="https://github.com/euanjudd" target="_blank" rel="noopener noreferrer" class="block px-4 py-2 text-sm text-base-content hover:bg-gray-100">Github</a>
                        </div>
                    </nav>
                </div>
                <a href="https://www.linkedin.com/in/euan-judd-749b04116/" class="contact-text hover:tracking-widest text-xs font-bold">
                    CONTACT ME
                </a>
            </div>
        </header>

        <div class="fixed-bottom-line flex p-7 items-end hidden lg:flex">
            <div class="vertical-line bg-policy-text"></div>
        </div>

        <div class="fixed-bottom flex p-6 items-end hidden lg:flex">
            <div class="vertical-text text-policy-text text-xs">
                &copy; MMXXIV. Made in England.
            </div>
        </div>

        {% block content %}
        {% endblock content %}

        <footer class="bg-base-bg text-policy-text py-8 text-sm">
            <div class="container mx-auto px-4 text-center">
                <p>&copy; MMXXIV. Made in England.</p>
            </div>
        </footer>
    </div>

    <script src="{% static 'src/js/dropdown.js' %}"></script>
</body>
</html>
